.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0048a5;
  height: 40px;
}

#line {
  height: 5px;
  background-color: #ffd200;
}

.image-footer {
  position: absolute;
  float:right;
  right:20px;
  padding-top: 10px;
  height: 30px;
}
