.header {
  position: relative;
  background-color: #0048a5;
  height: 90px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}


.image {
  position: relative;
  text-align: center;
  height: 85px;
  padding-top: 8px;
}

#seal {
  position: absolute;
  left:10%;
  height: 100%;
  width:70%;
}


#VIP {
  position: relative;
  float:right;
  height: 57px;
  width: 160px;
  padding-right: 30px;
  padding-bottom: 10px;
}

#dashboard {
  float:right;
  right: 10px;
}

/*****************************
******************************/

@media screen and (max-width: 767px) {
    .menuBarButton {
        display: block !important;
    }
    

    .navHeaderCollapse {
      margin-top: -1px;
    }

    .dropdown-menu {
      width: 100%;
       margin-left: 130px; 
    }
}

@media screen and (max-width:796px) {
  #dashboard {
    right: 0px;
  }
}

/*****************************
Navbar and MateralUI CSS Edits
******************************/
.navbar {
  background-color: #f8f8f8 !important;
  height: 61px;
}

.navHeaderCollapse {
  background-color: #f8f8f8!important;
  margin-top: -1px;
  width: 100%;
}

.navbar-toggle {
  float:right !important;
}
.login {
  position: absolute;
  float:right;
  clear:right;
}
.menuBarButton {
    height: 61px !important;
}
.menuBarButton:hover{
  color: #0048a5!important;
  background-color: #d9e1f9 !important;
}

.dropdown-menu {
  background-color: #f8f8f8!important;
  top: 230%;
}